In [ ]:
documents = [
{'type': 'passport', 'number': '2207 876234', 'name': 'Василий Гупкин'},
{'type': 'invoice', 'number': '11-2', 'name': 'Геннадий Покемонов'},
{'type': 'insurance', 'number': '10006', 'name': 'Аристарх Павлов'}
]

directories = {
'1': ['2207 876234', '11-2'],
'2': ['10006'],
'3': []
}

In [ ]:
def print_directories():
  for k in directories.keys():
    print(k, end=' ')

In [ ]:
def showing_owner():
  number_doc = input("Введите номер документа: ")
  for document in documents:
    for k,v in document.items():
      if k == 'number' and v == number_doc:
        print("Владелец документа:", document['name'])
        break

In [ ]:
def showing_directories():
  number_doc = input("Введите номер документа: ")
  for k, v in directories.items():
    if number_doc in v:
      print("Документ хранится на полке:", k)
      break

In [ ]:
def showing_information():
  for document in documents:
    for k, v in directories.items():
      if document["number"] in v:
        polka = k
        break
    print('№:', str(document["number"]) + ', тип:', str(document["type"]) + ',',
          'владелец:', str(document["name"]) + ', полка хранения:', polka)

In [ ]:
def add():
  number = input('Введите номер полки: ')

  if number in directories.keys():
    print("Такая полка уже существует. Текущий перечень полок:", end=' ')
    print_directories()

  else:
    directories[number] = []
    print("Полка добавлена. Текущий перечень полок:", end=' ')

In [ ]:
def del_directory():
  number = input('Введите номер полки: ')
  if number in directories.keys():
    if len(directories[number]) == 0:
      del directories[number]
      print('Полка удалена. Текущий перечень полок:', end=' ')
      print_directories()
    else:
      print('На полке есть документа, удалите их перед удалением полки. Текущий перечень полок:', end=' ')
      print_directories()
  else:
    print('Такой полки не существует. Текущий перечень полок:', end=' ')
    print_directories()

In [ ]:
command = ''
while command != 'q':
  command = input('Введите команду: ')
  if command == 'p':
    showing_owner()
  elif command == 's':
    showing_directories()
  elif command == 'l':
    showing_information()
  elif command == 'ads':
    add()
  elif command == 'ds':
    del_directory()
  print()

Введите команду: ds
Введите номер полки: 5
Такой полки не существует. Текущий перечень полок:
1 2 3
Введите команду: l
№: 2207 876234, тип: passport, владелец: Василий Гупкин, полка хранения: 1
№: 11-2, тип: invoice, владелец: Геннадий Покемонов, полка хранения: 1
№: 10006, тип: insurance, владелец: Аристарх Павлов, полка хранения: 2

Введите команду: q

In [ ]:
directories

{'1': ['2207 876234', '11-2'], '10': [], '2': ['10006'], '3': []}

In [ ]:
del directories['10']

In [ ]:
directories

{'1': ['2207 876234', '11-2'], '2': ['10006'], '3': []}

In [ ]:
uniq_user1 = set([213, 213, 213, 15, 213])
uniq_user2 = set([54, 54, 119, 119, 119])
uniq_user3 = set([213, 98, 98, 35])
print (uniq_user1, uniq_user2, uniq_user3)

In [ ]:
user_dict = {'user1':[213, 213, 213, 15, 213], 'user2':[54, 54, 119, 119, 119], 
             'user3':[213, 98, 98, 35]}
total = []
for v in user_dict.values():
  total.extend(v)
print(set(total))

{98, 35, 15, 213, 54, 119}

In [ ]:
d = {}

In [ ]:
d['C'].append(15)

In [ ]:
d

{'A': 10, 'B': 20, 'C': [10, 15]}

Дана книга рецептов с информацией о том, сколько ингредиентов нужно для приготовления блюда в 
расчете на одну порцию (пример данных представлен ниже).
Напишите программу, которая будет запрашивать у пользователя количество порций для 
приготовления этих блюд и отображать информацию о суммарном количестве требуемых ингредиентов в указанном виде.
Внимание! Одинаковые ингридиенты с разными размерностями нужно считать раздельно!
Пример работы программы:

In [ ]:
cook_book_1 = {
'салат': [
{'ingridient_name': 'сыр', 'quantity': 50, 'measure': 'гр'},
{'ingridient_name': 'томаты', 'quantity': 2, 'measure': 'шт'},
{'ingridient_name': 'огурцы', 'quantity': 20, 'measure': 'гр'},
{'ingridient_name': 'маслины', 'quantity': 10, 'measure': 'гр'},
{'ingridient_name': 'оливковое масло', 'quantity': 20, 'measure': 'мл'},
{'ingridient_name': 'салат', 'quantity': 10, 'measure': 'гр'},
{'ingridient_name': 'перец', 'quantity': 20, 'measure': 'гр'}
],
'пицца': [
{'ingridient_name': 'сыр', 'quantity': 20, 'measure': 'гр'},
{'ingridient_name': 'колбаса', 'quantity': 30, 'measure': 'гр'},
{'ingridient_name': 'бекон', 'quantity': 30, 'measure': 'гр'},
{'ingridient_name': 'оливки', 'quantity': 10, 'measure': 'гр'},
{'ingridient_name': 'томаты', 'quantity': 20, 'measure': 'гр'},
{'ingridient_name': 'тесто', 'quantity': 100, 'measure': 'гр'}
],
'лимонад': [
{'ingridient_name': 'лимон', 'quantity': 1, 'measure': 'шт'},
{'ingridient_name': 'вода', 'quantity': 200, 'measure': 'мл'},
{'ingridient_name': 'сахар', 'quantity': 10, 'measure': 'гр'},
{'ingridient_name': 'лайм', 'quantity': 20, 'measure': 'гр'}
]
}

In [ ]:
count = int(input('Введите количество порций:'))
dishies_dict = {} # {(назв, размер): кол-во}
#корт название ингр и его размер

Введите количество порций:5

In [ ]:
for k, v in cook_book_1.items():
  for ingridient in v:
    dishies_dict[(ingridient['ingridient_name'], ingridient['measure'])] = ingridient['quantity']

In [ ]:
dishies_dict

{('бекон', 'гр'): 30,
 ('вода', 'мл'): 200,
 ('колбаса', 'гр'): 30,
 ('лайм', 'гр'): 20,
 ('лимон', 'шт'): 1,
 ('маслины', 'гр'): 10,
 ('огурцы', 'гр'): 20,
 ('оливки', 'гр'): 10,
 ('оливковое масло', 'мл'): 20,
 ('перец', 'гр'): 20,
 ('салат', 'гр'): 10,
 ('сахар', 'гр'): 10,
 ('сыр', 'гр'): 20,
 ('тесто', 'гр'): 100,
 ('томаты', 'гр'): 20,
 ('томаты', 'шт'): 2}

In [ ]:
for k, v in dishies_dict.items():
  print(f'{k[0].title()}: {v * count} {k[1]}')

Сыр: 100 гр
Томаты: 10 шт
Огурцы: 100 гр
Маслины: 50 гр
Оливковое Масло: 100 мл
Салат: 50 гр
Перец: 100 гр
Колбаса: 150 гр
Бекон: 150 гр
Оливки: 50 гр
Томаты: 100 гр
Тесто: 500 гр
Лимон: 5 шт
Вода: 1000 мл
Сахар: 50 гр
Лайм: 100 гр

# Pandas - овские темы

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(0,10,size=(5, 2)), columns=['A', 'B'])
df

   A  B
0  2  0
1  3  7
2  2  3
3  0  0
4  5  5

In [ ]:
df.apply(np.sum, axis=0)

A    12
B    15
dtype: int64

In [ ]:
df.apply(np.sum, axis=1)

0     2
1    10
2     5
3     0
4    10
dtype: int64

In [ ]:
x = df.apply(lambda x: list(x), axis=1)

In [ ]:
type(x[0]), x[0]

(list, [2, 0])

Дана сводка данных работы пропускного пункта аэропорта N по дням в формате "дд-мм-гг", содержащая информацию о пассажирах и количестве запрещенных к провозу вещей, находившихся в их сумках. Напишите функцию, принимающую номер дня и возвращающую упорядоченный список общего числа выявленных вещей в день

In [ ]:
def plot_for_time_range(time_range):
  first_day_ban = []
  for passengers in df.passengers.unique():
    tmp_df = df[df['passengers'] == passengers]
    for row in range(len(tmp_df)):
      if tmp_df.iloc[row]['goods'] != 0:
        first_day_ban.append((passengers, tmp_df.iloc[row][time_range]))
        break
  days_ban = []
  c = 0
  for t_l in range(1, len(df[time_range].unique()) + 1):
    for elem in first_day_ban:
      if elem[1] == t_l:
        c += 1
    days_ban.append((t_l, c))
  print(days_ban)

In [ ]:
df = pd.DataFrame({'a':np.random.normal(0, size=(10,)), 'b':np.random.normal(0, size=(10,))})

In [ ]:
df

          a         b
0  0.641561  0.328025
1  0.343777  0.273466
2 -0.823244  0.312910
3  0.466680  0.229101
4 -0.839440  0.322177
5  1.499154 -0.126797
6 -2.000329 -0.017311
7 -1.518767  0.199198
8  0.183586  0.988227
9  1.787047  1.065167